
.env
.env.*
!.env.example


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/ 

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.egg-info/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json


.vscode/
.idea/
*.DS_Store
Thumbs.db